body {
    font-family: "Manrope", sans-serif;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
}

.unread-badge {
    color: white;
    background-color: #ff7474;
    padding: 5px;
    border-radius: 22px;
    font-size: 10px;
}

main {
    position: relative;
    top: 0;
    left: 17%;
}

.search-form {
    position: fixed;
}

.form-control {
    padding-left: 2.375rem;
    height: 60px;
}

.form-control:focus {
    color: #666664;
    background-color: #fff;
    border-color: #0f0c08;
    outline: 0;
    box-shadow: none;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
    opacity: 60%;
}

form .search {
    display: block;
}

form .cross {
    display: none;
}

.collapsible {
    cursor: pointer;
}

.content-acc {
    display: none;
    opacity: 60%;
}
.content-pre {
    display: none;
    opacity: 60%;
}
.vertical {
    border-left: 1px solid #dbe0e8;
    height: 95px;
}

li {
    list-style-type: none;
}

.fade-icon {
    opacity: 20%;
}

.hero-images {
    display: block;
}

.search-result {
    display: none;
}

.account-logo {
    width: 50px;
    height: 50px;
}

.track-btn {
    width: 53px;
    height: 30px;
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #512da8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
}
