.has-search .form-control {
    padding-left: 2.375rem;
    height: 60px;
}

.form-control:focus {
    color: #666664;
    background-color: #fff;
    border-color: #0f0c08;
    outline: 0;
    box-shadow: none;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    align-items: center;
    pointer-events: none;
    color: #aaa;
}

.collapsible {
    cursor: pointer;
}

.content-acc {
    display: none;
    opacity: 60%;
}
.content-pre {
    display: none;
    opacity: 60%;
}

li {
    list-style-type: none;
}

.fade-icon {
    opacity: 20%;
}
